@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

body {
  background-color: var(--clr-primary-400);
  font-weight: 700;
  display: grid;
  align-content: center;
  grid-template-columns: minmax(1.5rem, 1fr) [center-start] minmax(min-content, 33.75rem) [center-end] minmax(1.5rem, 1fr);
  transition: background-color 0.3s ease-out;
}

.vs-hidden {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.key {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: var(--clr-text-400);
  height: calc(100% - 4px);
  background-color: var(--clr-tertiary-400);
  box-shadow: 0 4px 0 0 var(--clr-tertiary-500);
  border-radius: 0.625rem;
  transition: box-shadow 0.1s, transform 0.1s;
}
.key:active {
  box-shadow: none;
  transform: translateY(4px);
}
.key:hover {
  filter: brightness(115%);
}
.key--secondary {
  background-color: var(--clr-secondary-400);
  box-shadow: 0 4px 0 0 var(--clr-secondary-500);
  color: var(--clr-text-300);
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}
.key--equals {
  background-color: var(--clr-accent-400);
  box-shadow: 0 4px 0 0 var(--clr-accent-500);
  color: var(--clr-text-500, --clr-text-300);
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}
.key--big {
  grid-column: span 2;
}

.themes {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 0.75rem;
}
.themes__title {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.themes__select fieldset {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 3rem;
  background-color: var(--clr-primary-500);
  border: none;
  width: fit-content;
}
.themes__input {
  appearance: none;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  color: currentColor;
  cursor: pointer;
  counter-increment: btn;
  position: relative;
  transition: all 0.2s;
}
.themes__input:checked {
  background-color: var(--clr-accent-400);
}
.themes__input::before {
  content: counter(btn);
  position: absolute;
  font-weight: 600;
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, -100%);
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  grid-column: center;
  color: currentColor;
  margin-bottom: 2rem;
}
.header__title {
  font-size: 2rem;
}

.calculator {
  grid-column: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.calculator__display {
  background-color: var(--clr-primary-600);
  border-radius: 0.625rem;
  color: currentColor;
  text-align: right;
  height: clamp(5.5rem, 23.7vw, 8rem);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.calculator__result {
  font-size: clamp(2rem, 8vw, 3.35rem);
}
.calculator__operation {
  font-size: clamp(0.9rem, 3.5vw, 1.5rem);
  opacity: 0.75;
}
.calculator__keyboard {
  background-color: var(--clr-primary-500);
  padding: clamp(1.5rem, 3.5vw, 2rem);
  border-radius: 0.625rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(3.75rem, 1fr));
  grid-auto-rows: 3.75rem;
  align-items: center;
  gap: clamp(0.8125rem, 3vw, 1.5625rem);
}

.colorful {
  --clr-primary-400: #160628;
  --clr-primary-500: #1d0934;
  --clr-primary-600: #1d0934;
  --clr-secondary-400: #58077d;
  --clr-secondary-500: #bc15f4;
  --clr-accent-400: #00e0d1;
  --clr-accent-500: #6cf9f2;
  --clr-tertiary-400: #341c4f;
  --clr-tertiary-500: #871c9c;
  --clr-text-300: #ffffff;
  --clr-text-400: #ffe53d;
  --clr-text-500: #1b2428;
}
.colorful body {
  color: var(--clr-text-400);
}

.dark {
  --clr-primary-400: #3a4764;
  --clr-primary-500: #232c43;
  --clr-primary-600: #182034;
  --clr-secondary-400: #637097;
  --clr-secondary-500: #404e72;
  --clr-accent-400: #d03f2f;
  --clr-accent-500: #93261a;
  --clr-tertiary-400: #eae3dc;
  --clr-tertiary-500: #b4a597;
  --clr-text-300: #ffffff;
  --clr-text-400: #444b5a;
}
.dark body {
  color: var(--clr-text-300);
}

.light {
  --clr-primary-400: #e6e6e6;
  --clr-primary-500: #d1cccc;
  --clr-primary-600: #ededed;
  --clr-secondary-400: #377f86;
  --clr-secondary-500: #1b5f65;
  --clr-accent-400: #ca5502;
  --clr-accent-500: #893901;
  --clr-tertiary-400: #e5e4e1;
  --clr-tertiary-500: #a69d91;
  --clr-text-300: #ffffff;
  --clr-text-400: #35352c;
  --clr-text-500: #ffffff;
}
.light body {
  color: var(--clr-text-400);
}

/*# sourceMappingURL=style.css.map */
