// Theme 3

html[data-theme='colorful'] {
  --clr-primary-400: #160628;
  --clr-primary-500: #1d0934;
  --clr-primary-600: #1d0934;

  --clr-secondary-400: #58077d;
  --clr-secondary-500: #bc15f4;

  --clr-accent-400: #00e0d1;
  --clr-accent-500: #6cf9f2;

  --clr-tertiary-400: #341c4f;
  --clr-tertiary-500: #871c9c;

  --clr-text-300: #ffffff;
  --clr-text-400: #ffe53d;
  --clr-text-500: #1b2428;

  body {
    color: var(--clr-text-400);
  }
}
