// Theme 1
@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary-400: #3a4764;
    --clr-primary-500: #232c43;
    --clr-primary-600: #182034;

    --clr-secondary-400: #637097;
    --clr-secondary-500: #404e72;

    --clr-accent-400: #d03f2f;
    --clr-accent-500: #93261a;

    --clr-tertiary-400: #eae3dc;
    --clr-tertiary-500: #b4a597;

    --clr-text-300: #ffffff;
    --clr-text-400: #444b5a;
  }
}
