body {
  background-color: var(--clr-primary-400);
  font-weight: 700;

  display: grid;
  align-content: center;
  grid-template-columns:
    minmax(1.5rem, 1fr)
    [center-start] minmax(min-content, $max-width) [center-end]
    minmax(1.5rem, 1fr);

  transition: background-color 0.3s ease-out;
}

.vs-hidden {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
